# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# Fastlane (si lo usas luego)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods (si lo usas luego)
Pods/

# Otros
*.log
